---
// Moshimoアフィリエイトコンポーネント
// 記事内で自由に配置可能
---

<!-- START MoshimoAffiliateEasyLink -->
<script type="text/javascript" is:inline>
(function(b,c,f,g,a,d,e){b.MoshimoAffiliateObject=a;
b[a]=b[a]||function(){arguments.currentScript=c.currentScript
||c.scripts[c.scripts.length-2];(b[a].q=b[a].q||[]).push(arguments)};
c.getElementById(a)||(d=c.createElement(f),d.src=g,
d.id=a,e=c.getElementsByTagName("body")[0],e.appendChild(d))})
(window,document,"script","//dn.msmstatic.com/site/cardlink/bundle.js?20220329","msmaflink");
msmaflink({"n":"はじめるNotion　使いかたを自由にデザインするための、基本、コツ、アイデア [ 溝口 雅子 ]","b":"","t":"","d":"https:\/\/thumbnail.image.rakuten.co.jp","c_p":"","p":["\/@0_mall\/book\/cabinet\/8999\/9784297128999.jpg"],"u":{"u":"https:\/\/item.rakuten.co.jp\/book\/17177533\/","t":"rakuten","r_v":""},"v":"2.1","b_l":[{"id":1,"u_tx":"楽天市場で見る","u_bc":"#f76956","u_url":"https:\/\/item.rakuten.co.jp\/book\/17177533\/","a_id":4823416,"p_id":54,"pl_id":27059,"pc_id":54,"s_n":"rakuten","u_so":1}],"eid":"ZThjz","s":"s"});
</script>
<div class="ad-label">PR</div>
<div id="msmaflink-ZThjz">リンク</div>
<!-- MoshimoAffiliateEasyLink END -->

<style>
  .ad-label {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 0.5rem;
  }
</style>
